
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

main{
    height: 100vh;
   
}

#container_nubank{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   height: 80%;
   padding: 20px;
}

#div_nubank{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao_nubank{
    display: flex;
    align-items: center;
    width: 73% ;
    height:55% ;
    box-shadow: 0px 0px 5px gainsboro;
    border-radius: 15px;
    background-image: linear-gradient(120deg,#9843CC,#7A1B83);
    cursor: pointer;
    overflow:hidden;
    scroll-snap-type: x mandatory;
    transition: all 2s;
   
}



#cartao_div{
    scroll-snap-align: start;
}

.cartFrente{
    width: 100%;
    height: 100%;
    flex: none;
}


.section_master{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items:center ;
  
}

.section_master img{
    width: 83px;
    margin: 15px;
    
}

.section_chip{
    margin: 10px 0px 45px 0px ;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:center ;
    gap: 17px;
}

.chip{
    width:50px ;
    margin-left:45px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
}

.sinal{
    width: 25px;
}


.section_usuario{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
     width: 100%;
     gap: 10px;
}

.section_usuario img{
    width: 80px;
    margin-left: 45px;
}

.section_usuario p{
    color: white;
    transform: translateY(-7px);
    letter-spacing: 2px;
    font-family: 'Mulish', sans-serif;
    font-size: 12pt;
   
    
}

.cartVerso{
    width: 100%;
    height: 100%;
    flex: none;
    transform: rotateY(180deg);
    scroll-behavior: smooth;
    transition: all 0.5s;
} 
.topVerso{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
    height: 25px;
    font-size: 9px;
    color: white;
    font-family: 'Titillium Web', sans-serif;

}

.topVerso p{
    font-size: 8px;
}

.barraVerso{
  width: 100%;
  height: 55px;
 background-image: linear-gradient(45deg,#DDDDDD,aliceblue,#DDDDDD);
 
}


.sectionVersoCentral{
  margin: auto;
  margin-top: 15px;
  width: 95%;
  height:100px ;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
 
}


.sectionVersoCentral div{
    width: 100%;
    height: 100%;
  
}


.div01Central p{
    padding:  0px 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.div01Central img{
  width: 90px;
}


.div02Central p{
    display: flex;
    align-items: center;
    font-size: 8px;
    font-family: 'Titillium Web', sans-serif;
    gap: 5px;
    margin-bottom: 10px;
}

.div02Central span{
    line-height: 10px;
    letter-spacing: 1px;
}

.div02Central img{
    width: 20px;
}

.div03Central p{
display: flex;
justify-content:center;
  font-size: 7pt;
  font-family: 'Titillium Web', sans-serif;
  line-height: 10px;
}


.sectionBottomVerso{
  margin: auto;
   display: flex;
   align-content: center;
   color: white;
   width: 90%;
   gap: 80px;
}

.sectionDataVerso{
    display: flex;
    align-items: center;
    margin-top:15px ;
    transform: translateX(-8px);
    
}

.sectionDataVerso span{
    font-family: 'Titillium Web', sans-serif;
    font-size: 5pt;
   line-height: 7px;
   padding-left: 10px;
   padding-right: 3px;
   transform: translateY(-7px);
}

.sectionDataVerso p{
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
}



.numerConta{
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
    letter-spacing: 3px;
}


.imgBottomVerso{
transform: translateX(20px);
}

.imgBottomVerso img{
    width: 90px;
}