
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url("../img/fundo-body.png");
    background-size: cover;
    background-position: 50% 50%;
}

html{
    scroll-behavior: smooth;
}

main{
    height: 100vh;
   
}

#container_nubank{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   height: 80%;
   padding: 20px;
}

#div_nubank{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao_nubank{
    display: flex;
    align-items: center;
    width: 350px ;
    height:215px ;
    box-shadow: 0px 0px 5px gainsboro;
    border-radius: 15px;
    background-image: linear-gradient(120deg,#9843CC,#7A1B83);
    cursor: pointer;
    overflow:hidden;
    scroll-snap-type: x mandatory;
    transition: all 2s;
    box-shadow: 0px 10px 10px gainsboro;
}



#cartao_div{
    scroll-snap-align: start;
}

.cartFrente{
    width: 100%;
    height: 100%;
    flex: none;
}


.section_master{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items:center ;
}

.section_master img{
    width: 70px;
    margin: 10px;
    
}

.section_chip{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:center ;
    gap: 13px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.chip{
    width:45px ;
    margin-left:40px;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
}

.sinal{
    width: 18px;
}


.section_usuario{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
     width: 100%;
     gap: 5px;
}

.section_usuario img{
    width: 60px;
    margin-left: 38px;
}

.section_usuario p{
    color: white;
    transform: translateY(-5px);
    letter-spacing: 1px;
    font-family: 'Mulish', sans-serif;
    font-size: 10pt;
   
    
}

.cartVerso{
    width: 100%;
    height: 100%;
    flex: none;
    transform: rotateY(180deg);
    scroll-behavior: smooth;
    transition: all 0.5s;
} 
.topVerso{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 15px;
    font-size: 6px;
    color: white;
    font-family: 'Titillium Web', sans-serif;

}


.barraVerso{
  width: 100%;
  height: 50px;
 background-image: linear-gradient(45deg,#DDDDDD,aliceblue,#DDDDDD);
 
}


.sectionVersoCentral{
  margin: auto;
  margin-top: 7px;
  width: 95%;
  height:85px ;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
 
}


.sectionVersoCentral div{
    width: 100%;
    height: 100%;
  
}


.div01Central p{
    padding:  0px 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 11pt;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.div01Central img{
  width: 80px;
}


.div02Central p{
    display: flex;
    align-items: center;
    font-size: 7px;
    font-family: 'Titillium Web', sans-serif;
    gap: 3px;
    margin-bottom: 5px;
}

.div02Central span{
    line-height: 10px;
  
}

.div02Central img{
    width: 18px;
}

.div03Central p{
display: flex;
justify-content:center;
  font-size: 6pt;
  font-family: 'Titillium Web', sans-serif;
  line-height: 10px;
}


.sectionBottomVerso{
  margin: auto;
   display: flex;
   align-content: center;
   color: white;
   width: 90%;
   gap: 45px;
}

.sectionDataVerso{
    display: flex;
    align-items: center;
    margin-top:10px ;
    transform: translateX(-8px);
    
}

.sectionDataVerso span{
    font-family: 'Titillium Web', sans-serif;
    font-size: 5pt;
   line-height: 7px;
   padding-left: 10px;
   padding-right: 3px;
   transform: translateY(-7px);
}

.sectionDataVerso p{
    font-family: 'Quicksand', sans-serif;
    font-size: 10pt;
}



.numerConta{
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
    letter-spacing: 3px;
}




.imgBottomVerso img{
    width: 70px;
}